# Uniform currencies

In this exercise and throughout this chapter, you will be working with a retail `banking` dataset stored in the banking DataFrame. The dataset contains data on the amount of money stored in accounts (`acct_amount`), their currency (`acct_cur`), amount invested (`inv_amount`), account opening date (`account_opened`), and last transaction date (`last_transaction`) that were consolidated from American and European branches.

You are tasked with understanding the average account size and how investments vary by the size of account, however in order to produce this analysis accurately, you first need to unify the currency amount into dollars. The `pandas` package has been imported as `pd`, and the `banking` DataFrame is in your environment.

In [9]:
import pandas as pd
import numpy as np
from faker import Faker
fake = Faker()
path=r'Z:/'
file='banking_dirty.csv'

banking = pd.read_csv(path+file,index_col = [0])
print(banking.head(),'\n')

    cust_id  birth_date  Age  acct_amount  inv_amount   fund_A   fund_B  \
0  870A9281  1962-06-09   58     63523.31       51295  30105.0   4138.0
1  166B05B0  1962-12-16   58     38175.46       15050   4995.0    938.0
2  BFC13E88  1990-09-12   34     59863.77       24567  10323.0   4590.0
3  F2158F66  1985-11-03   35     84132.10       23712   3908.0    492.0
4  7A73F334  1990-05-17   30    120512.00       93230  12158.4  51281.0

    fund_C   fund_D account_opened last_transaction
0   1420.0  15632.0       02-09-18         22-02-19
1   6696.0   2421.0       28-02-19         31-10-18
2   8469.0   1185.0       25-04-18         02-04-18
3   6482.0  12830.0       07-11-17         08-11-18
4  13434.0  18383.0       14-05-18         19-07-18

In [10]:
len(banking)

100

In [12]:
acct_cur = [fake.random_element(elements=('dollar', 'euro')) for _ in range(len(banking))]
banking['acct_cur']=acct_cur
banking.head()

,cust_id,birth_date,Age,acct_amount,inv_amount,fund_A,fund_B,fund_C,fund_D,account_opened,last_transaction,acct_cur
0,870A9281,1962-06-09,58,63523.31,51295,30105.0,4138.0,1420.0,15632.0,02-09-18,22-02-19,euro
1,166B05B0,1962-12-16,58,38175.46,15050,4995.0,938.0,6696.0,2421.0,28-02-19,31-10-18,euro
2,BFC13E88,1990-09-12,34,59863.77,24567,10323.0,4590.0,8469.0,1185.0,25-04-18,02-04-18,dollar
3,F2158F66,1985-11-03,35,84132.10,23712,3908.0,492.0,6482.0,12830.0,07-11-17,08-11-18,dollar
4,7A73F334,1990-05-17,30,120512.00,93230,12158.4,51281.0,13434.0,18383.0,14-05-18,19-07-18,euro

* Find the rows of `acct_cur` in `banking` that are equal to `'euro'` and store them in the variable `acct_eu`.
* Find all the rows of acct_amount in banking that fit the acct_eu condition, and convert them to USD by multiplying them with 1.1.
* Find all the rows of `acct_cur` in `banking` that fit the `acct_eu` condition, set them to 'dollar'.

In [4]:
# Find values of acct_cur that are equal to 'euro'
acct_eu = banking['acct_cur'] == 'euro'

# Convert acct_amount where it is in euro to dollars
banking.loc[acct_eu, 'acct_amount'] = banking.loc[acct_eu, 'acct_amount'] * 1.1

# Unify acct_cur column by changing 'euro' values to 'dollar'
banking.loc[acct_eu, 'acct_cur'] = 'dollar'

# Assert that only dollar currency remains
assert banking['acct_cur'].unique() == 'dollar'

KeyError: 'acct_cur'