# Pivot temperature by city and year
It's interesting to see how temperatures for each city change over time—looking at every month results in a big table, which can be tricky to reason about. Instead, let's look at how temperatures change by year.

You can access the components of a date (year, month and day) using code of the form **dataframe["column"].dt.component**. For example, the month component is **dataframe["column"].dt.month**, and the year component is **dataframe["column"].dt.year.**

Once you have the year column, you can create a pivot table with the data aggregated by city and year, which you'll explore in the coming exercises.

*pandas* is loaded as *pd*. temperatures is available.

In [5]:
import pandas as pd
path=r'/media/documentos/Cursos/Data Science/Python/Data_Science_Python/data_sets/'
file='temperatures.csv'
temperatures=pd.read_csv(path+file,index_col=0)
temperatures['date'] =  pd.to_datetime(temperatures['date'], format='%Y-%m-%d')
print(temperatures.head())

        date     city        country  avg_temp_c
0 2000-01-01  Abidjan  Côte D'Ivoire      27.293
1 2000-02-01  Abidjan  Côte D'Ivoire      27.685
2 2000-03-01  Abidjan  Côte D'Ivoire      29.061
3 2000-04-01  Abidjan  Côte D'Ivoire      28.162
4 2000-05-01  Abidjan  Côte D'Ivoire      27.547

- Add a year column to temperatures, from the year component of the date column.
- Make a pivot table of the *avg_temp_c* column, with *country* and *city* as rows, and year as columns. Assign to *temp_by_country_city_vs_year*, and look at the *result*.

In [8]:
# Add a year column to temperatures
temperatures["year"]=temperatures["date"].dt.year

# Pivot avg_temp_c by country and city vs year
temp_by_country_city_vs_year = temperatures.pivot_table("avg_temp_c",index=["country","city"],columns="year")

# See the result
print(temp_by_country_city_vs_year)

year                                 2000       2001       2002       2003  \
country       city
Afghanistan   Kabul             15.822667  15.847917  15.714583  15.132583
Angola        Luanda            24.410333  24.427083  24.790917  24.867167
Australia     Melbourne         14.320083  14.180000  14.075833  13.985583
              Sydney            17.567417  17.854500  17.733833  17.592333
Bangladesh    Dhaka             25.905250  25.931250  26.095000  25.927417
...                                   ...        ...        ...        ...
United States Chicago           11.089667  11.703083  11.532083  10.481583
              Los Angeles       16.643333  16.466250  16.430250  16.944667
              New York           9.969083  10.931000  11.252167   9.836000
Vietnam       Ho Chi Minh City  27.588917  27.831750  28.064750  27.827667
Zimbabwe      Harare            20.283667  20.861000  21.079333  20.889167

year                                 2004       2005       2006       2007  \
country       city
Afghanistan   Kabul             16.128417  14.847500  15.798500  15.518000
Angola        Luanda            24.216167  24.414583  24.138417  24.241583
Australia     Melbourne         13.742083  14.378500  13.991083  14.991833
              Sydney            17.869667  18.028083  17.749500  18.020833
Bangladesh    Dhaka             26.136083  26.193333  26.440417  25.951333
...                                   ...        ...        ...        ...
United States Chicago           10.943417  11.583833  11.870500  11.448333
              Los Angeles       16.552833  16.431417  16.623083  16.699917
              New York          10.389500  10.681417  11.519250  10.627333
Vietnam       Ho Chi Minh City  27.686583  27.884000  28.044000  27.866667
Zimbabwe      Harare            20.307667  21.487417  20.699750  20.746250

year                                 2008       2009       2010       2011  \
country       city
Afghanistan   Kabul             15.479250  15.093333  15.676000  15.812167
Angola        Luanda            24.266333  24.325083  24.440250  24.150750
Australia     Melbourne         14.110583  14.647417  14.231667  14.190917
              Sydney            17.321083  18.175833  17.999000  17.713333
Bangladesh    Dhaka             26.004500  26.535583  26.648167  25.803250
...                                   ...        ...        ...        ...
United States Chicago           10.242417  10.298333  11.815917  11.214250
              Los Angeles       17.014750  16.677000  15.887000  15.874833
              New York          10.641667  10.141833  11.357583  11.272250
Vietnam       Ho Chi Minh City  27.611417  27.853333  28.281750  27.675417
Zimbabwe      Harare            20.680500  20.523833  21.165833  20.781750

year                                 2012       2013
country       city
Afghanistan   Kabul             14.510333  16.206125
Angola        Luanda            24.240083  24.553875
Australia     Melbourne         14.268667  14.741500
              Sydney            17.474333  18.089750
Bangladesh    Dhaka             26.283583  26.587000
...                                   ...        ...
United States Chicago           12.821250  11.586889
              Los Angeles       17.089583  18.120667
              New York          11.971500  12.163889
Vietnam       Ho Chi Minh City  28.248750  28.455000
Zimbabwe      Harare            20.523333  19.756500

[100 rows x 14 columns]