# Strategies for remaining missing data
The five percent rule has worked nicely for your planes dataset, eliminating missing values from nine out of 11 columns!

Now, you need to decide what to do with the `"Additional_Info"` and `"Price" `columns, which are missing `300` and `368` values respectively.

You'll first take a look at what `"Additional_Info" `contains, then visualize the price of plane tickets by different airlines.

The following imports have been made for you
```python
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
```

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
planes= pd.read_csv(r"D:\Cursos\Data_Science_Python\data_sets\planesv2.csv")
planes.head(3)
# Find the five percent threshold
threshold = len(planes) * 0.05
# Create a filter
cols_to_drop = planes.columns[planes.isna().sum() <= threshold]
# Drop missing values for columns below the threshold
planes.dropna(subset=cols_to_drop, inplace=True)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
2,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

* Print the values and frequencies of `"Additional_Info"`

In [ ]:
# Check the values of the Additional_Info column
print(____)