# Finding the number of unique values
You would like to practice some of the categorical data manipulation and analysis skills that you've just seen. To help identify which data could be reformatted to extract value, you are going to find out which non-numeric columns in the `planes` dataset have a large number of unique values.

`pandas` has been imported for you as `pd`, and the dataset has been stored as `planes`.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
planes= pd.read_csv(r"D:\Cursos\Data_Science_Python\data_sets\planesv2.csv")

# Find the five percent threshold
threshold = len(planes) * 0.05
# Create a filter
cols_to_drop = planes.columns[planes.isna().sum() <= threshold]
planes=planes.drop('Additional_Info',axis=1)
# Drop missing values for columns below the threshold
planes.dropna(subset=cols_to_drop, inplace=True)
airline_prices = planes.groupby("Airline")["Price"].median()
prices_dict = airline_prices.to_dict()
planes["Price"] = planes["Price"].fillna(planes["Airline"].map(prices_dict))
planes.head(3)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,13882.0
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,6218.0
2,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,13302.0

* Filter `planes` for columns that are of `"object"` data type.
* Loop through the columns in the dataset.
* Add the column iterator to the print statement, then call the function to return the number of unique values in the column.

In [ ]:
# Filter the DataFrame for object columns
non_numeric = planes._____("____")

# Loop through columns
for ____ in non_numeric.____:
  
  # Print the number of unique values
  print(f"Number of unique values in {____} column: ", non_numeric[____].____())