# Removing outliers
While removing outliers isn't always the way to go, for your analysis, you've decided that you will only include flights where the `"Price"` is not an outlier.

Therefore, you need to find the upper threshold and then use it to remove values above this from the `planes` DataFrame.

pandas has been imported for you as pd, along with seaborn as sns.

In [12]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

planes= pd.read_csv(r"D:\Cursos\Data_Science_Python\data_sets\planesv2.csv")
planes[['hour','min']]=planes['Duration'].str.split(' ',expand=True)
planes['min'] = planes['min'].str.replace('m','')
planes['min'] = planes['min'].fillna(0)
planes['min'] = planes['min'].astype(float) / 60
planes['hour'] = planes['hour'].str.replace('h','')
planes['hour'] = planes['hour'].str.replace('m','')
planes['hour'] = planes['hour'].astype(float)
planes['Dur']=planes['hour']+planes['min']
planes['Duration'] = planes['Dur'].round(decimals=3)
planes=planes.drop(['Dur','min','hour'], axis=1)
planes.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19.000,2 stops,No info,13882.0
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5.417,1 stop,No info,6218.0
2,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4.750,1 stop,No info,13302.0
3,SpiceJet,24/06/2019,Kolkata,Banglore,CCU → BLR,09:00,11:25,2.417,non-stop,No info,3873.0
4,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,18:55,10:25 13 Mar,15.500,1 stop,In-flight meal not included,11087.0

* Find the 75th and 25th percentiles, saving as `price_seventy_fifth` and `price_twenty_fifth` respectively.

In [13]:
# Find the 75th and 25th percentiles
price_seventy_fifth = planes["Price"].quantile(0.75)
price_twenty_fifth = planes["Price"].quantile(0.25)
price_twenty_fifth,price_seventy_fifth

(5276.75, 12373.0)

Calculate the IQR, storing it as prices_iqr.

In [14]:
prices_iqr = price_seventy_fifth - price_twenty_fifth
prices_iqr

7096.25

Calculate the upper and lower outlier thresholds.

In [15]:
upper = price_seventy_fifth + (1.5 * prices_iqr)
lower = price_twenty_fifth - (1.5 * prices_iqr)
upper,lower

(23017.375, -5367.625)

Remove the outliers from planes.

In [16]:
planes = planes[(planes["Price"] > lower) & (planes["Price"] < upper)]

print(planes["Price"].describe().round(decimals=3))

count     9959.000000
mean      8875.160860
std       4057.202002
min       1759.000000
25%       5228.000000
50%       8283.000000
75%      12284.000000
max      23001.000000
Name: Price, dtype: float64