In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

planes= pd.read_csv(r"D:\Cursos\Data_Science_Python\data_sets\planesv2.csv")
#fix for the example
planes[['hour','min']]=planes['Duration'].str.split(' ',expand=True)
planes['min'] = planes['min'].str.replace('m','')
planes['min'] = planes['min'].fillna(0)
planes['min'] = planes['min'].astype(float) / 60
planes['hour'] = planes['hour'].str.replace('h','')
planes['hour'] = planes['hour'].str.replace('m','')
planes['hour'] = planes['hour'].astype(float)
planes['Dur']=planes['hour']+planes['min']
planes['Dur'] = planes['Dur'].astype(str) + 'h'
planes['Duration'] = planes['Dur']
planes=planes.drop(['Dur','min','hour'], axis=1)
planes["Duration"] = planes["Duration"].str.replace('h','')
planes["Duration"] = planes["Duration"].astype(float)
planes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10660 entries, 0 to 10659
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10233 non-null  object
 1   Date_of_Journey  10338 non-null  object
 2   Source           10473 non-null  object
 3   Destination      10313 non-null  object
 4   Route            10404 non-null  object
 5   Dep_Time         10400 non-null  object
 6   Arrival_Time     10466 non-null  object
 7   Duration         10446 non-null  float64
 8   Total_Stops      10448 non-null  object
 9   Additional_Info  10071 non-null  object
 10  Price            10044 non-null  float64
dtypes: float64(2), object(9)
memory usage: 916.2+ KB

* Add a column to planes containing the standard deviation of "Price" based on "Airline".

In [2]:
# Price standard deviation by Airline
planes["airline_price_st_dev"] = planes.groupby("Airline")["Price"].transform(lambda x: x.std())

print(planes[["Airline", "airline_price_st_dev"]].value_counts())

Airline            airline_price_st_dev
Jet Airways        4230.748840             3685
IndiGo             2266.753552             1981
Air India          3865.871975             1686
Multiple carriers  3763.674706             1148
SpiceJet           1790.851944              787
Vistara            2864.267802              455
Air Asia           2016.738954              309
GoAir              2790.815129              182
dtype: int64

* Calculate the median for `"Duration"` by `"Airline"`, storing it as a column called `"airline_median_duration`".

In [3]:
# Median Duration by Airline
planes["airline_median_duration"] = planes.groupby("Airline")["Duration"].transform(lambda x: x.median())

print(planes[["Airline","airline_median_duration"]].value_counts())

Airline            airline_median_duration
Jet Airways        13.333333                  3685
IndiGo             2.916667                   1981
Air India          15.916667                  1686
Multiple carriers  10.250000                  1148
SpiceJet           2.500000                    787
Vistara            3.166667                    455
Air Asia           2.833333                    309
GoAir              5.166667                    182
dtype: int64

Find the mean `"Price"` by `"Destination"`, saving it as a column called `"price_destination_mean"`.

In [4]:
# Mean Price by Destination
planes["price_destination_mean"] = planes.groupby("Destination")["Price"].transform(lambda x: x.mean())

print(planes[["Destination","price_destination_mean"]].value_counts())

Destination  price_destination_mean
Cochin       10506.993486              4391
Banglore     9132.225153               2773
Delhi        5157.794118               1219
New Delhi    11738.589499               888
Hyderabad    5025.210280                673
Kolkata      4801.489796                369
dtype: int64