# Setting dtype when reading data
You are preparing to create a machine learning model to predict a person's income category using the adult census income dataset. You don't have access to any cloud resources and you want to make sure that your laptop will be able to load the full dataset and process its contents. You have read in the first five rows of the dataset `adult` to help you understand what kind of columns are available.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
adult= pd.read_csv(r"D:\Cursos\Data_Science_Python\data_sets\adult.csv")
adult.head(3)

,Age,Workclass,fnlgwt,Education,Education Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours/Week,Country,Above/Below 50k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

* Call the correct attribute on the `adult` DataFrame to review the data types.

In [2]:
# Check the dtypes
print(adult.dtypes)

Age                 int64
Workclass          object
fnlgwt              int64
Education          object
Education Num       int64
Marital Status     object
Occupation         object
Relationship       object
Race               object
Sex                object
Capital Gain        int64
Capital Loss        int64
Hours/Week          int64
Country            object
Above/Below 50k    object
dtype: object

* Create a dictionary with keys: `"Workclass"`, `"Education"`, `"Relationship"`, and `"Above/Below 50k"`.
* Set the value for each key to be `"category"`.

In [4]:
# Create a dictionary with column names as keys and "category" as values
adult_dtypes = {
  "Workclass":"category",
  "Education":"category",
  "Relationship":"category",
  "Above/Below 50k":"category"
}

* Use the newly created dictionary, adult_dtypes, when reading in adult.csv

In [5]:
adult2= pd.read_csv(r"D:\Cursos\Data_Science_Python\data_sets\adult.csv",dtype=adult_dtypes)
print(adult2.dtypes)

Age                   int64
Workclass          category
fnlgwt                int64
Education          category
Education Num         int64
Marital Status       object
Occupation           object
Relationship       category
Race                 object
Sex                  object
Capital Gain          int64
Capital Loss          int64
Hours/Week            int64
Country              object
Above/Below 50k    category
dtype: object