# Create lots of groups
You want to find the mean `Age` of adults when grouping by the following categories:

`"Workclass"` (which has 9 categories)
`"Above/Below 50k"` (which has 2 categories)
`"Education"` (which has 16 categories).
You have developed the following bit of code:
```python
gb = adult.groupby(by=[ "Workclass",
                        "Above/Below 50k", 
                        "Education"])
```
How many groups are in the `gb` object and what is the maximum possible number of groups that could have been created? The dataset `adult`, and the `gb` object have been preloaded for you.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
adult= pd.read_csv(r"D:\Cursos\Data_Science_Python\data_sets\adult.csv")
adult.head(3)

,Age,Workclass,fnlgwt,Education,Education Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours/Week,Country,Above/Below 50k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [4]:
gb = adult.groupby(by=[ "Workclass",
                        "Above/Below 50k", 
                        "Education"])
print(gb.size())

Workclass     Above/Below 50k  Education
 ?             <=50K            10th             98
                                11th            118
                                12th             38
                                1st-4th          12
                                5th-6th          28
                                               ...
 State-gov     >50K             Some-college     31
 Without-pay   <=50K            7th-8th           1
                                Assoc-acdm        1
                                HS-grad           9
                                Some-college      3
Length: 208, dtype: int64