# Setting up a .groupby() statement
The gender wage gap is a hot-topic item in the United States and across the world. Using the `adult` census income dataset, loaded as adult, you want to check if some of the recently published data lines up with this income survey.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
adult= pd.read_csv(r"D:\Cursos\Data_Science_Python\data_sets\adult.csv")
adult.head(3)

,Age,Workclass,fnlgwt,Education,Education Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours/Week,Country,Above/Below 50k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

* Split the `adult` dataset across the `"Sex"` and `"Above/Below 50k"` columns, saving this object as `gb`.
* Print out the number of observations found in each group.
* Using `gb`, find the average of each numerical column.

In [5]:
# Group the adult dataset by "Sex" and "Above/Below 50k"
gb = adult.groupby(by=[ "Sex",
                        "Above/Below 50k"])

# Print out how many rows are in each created group
print(gb.size())

# Print out the mean of each group for all columns
print(gb.mean())

Sex      Above/Below 50k
 Female   <=50K              9592
          >50K               1179
 Male     <=50K             15128
          >50K               6662
dtype: int64
                               Age         fnlgwt  Education Num  \
Sex     Above/Below 50k
 Female  <=50K           36.210801  185999.381359       9.820475
         >50K            42.125530  183687.406277      11.787108
 Male    <=50K           37.147012  193093.609268       9.452142
         >50K            44.625788  188769.101321      11.580606

                         Capital Gain  Capital Loss  Hours/Week
Sex     Above/Below 50k
 Female  <=50K             121.986134     47.364470   35.916701
         >50K             4200.389313    173.648855   40.426633
 Male    <=50K             165.723823     56.806782   40.693879
         >50K             3971.765836    198.780396   46.366106

C:\Users\Garca\AppData\Local\Temp\ipykernel_9896\22612634.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(gb.mean())