# Cross-tabulation
Cross-tabulation can help identify how observations occur in combination.

Using the `salaries` dataset, which has been imported as a `pandas` DataFrame, you'll perform cross-tabulation on multiple variables, including the use of aggregation, to see the relationship between `"Company_Size"` and other variables.

pandas has been imported for you as pd.

In [8]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

salaries= pd.read_csv(r"D:\Cursos\Data_Science_Python\data_sets\ds_salaries_clean.csv")

#conditions fo job category
Job_Category = ['Machine Learning','Data Engineering','Data Analytics', 'Data Science', 'Other','Managerial']

Machine_Learning = ['Machine Learning Scientist', 'Machine Learning Engineer','Machine Learning Manager', 'AI Scientist', 'ML Engineer' ,'Applied Machine Learning Scientist' ,'Head of Machine Learning', 'Machine Learning Developer' ,'Lead Machine Learning Engineer']
 
Data_Engineering =  ['Big Data Engineer', 'Lead Data Engineer', 'Data Engineer', 'Data Engineering Manager' ,'Director of Data Engineering', 'Principal Data Engineer', 'Cloud Data Engineer', 'Data Architect', 'Machine Learning Infrastructure Engineer', 'ETL Developer']
 
Data_Analytics =  ['Product Data Analyst', 'Data Analyst', 'Business Data Analyst' , 'Lead Data Analyst', 'BI Data Analyst','Data Analytics Engineer' ,'Financial Data Analyst', 'Data Analytics Manager', 
                    'Finance Data Analyst', 'Principal Data Analyst','Analytics Engineer' ,'Data Analytics Lead']
 
Data_Science =  ['Lead Data Scientist','Data Scientist', 'Principal Data Scientist', 'Applied Data Scientist','Staff Data Scientist', 'NLP Engineer']
 
Other =  ['Research Scientist','3D Computer Vision Researcher', 'Data Science Consultant','Computer Vision Software Engineer', 'Data Science Engineer', 'Computer Vision Engineer']
 
Managerial =  ['Data Science Manager', 'Head of Data', 'Head of Data Science', 'Director of Data Science']

conditions = [
    (salaries["Designation"].isin(Machine_Learning)),
    (salaries["Designation"].isin(Data_Engineering)),
    (salaries["Designation"].isin(Data_Analytics)),
    (salaries["Designation"].isin(Data_Science)),
    (salaries["Designation"].isin(Other)),
    (salaries["Designation"].isin(Managerial))

]

#assignation
salaries["Job_Category"] = np.select(conditions, 
                                        Job_Category,
                                        default="XD")
salaries.head(10)

,Working_Year,Designation,Experience,Employment_Status,Employee_Location,Company_Size,Remote_Working_Ratio,Salary_USD,Job_Category
0,2020,Data Scientist,Mid,FT,DE,L,0,76227.0,Data Science
1,2020,Machine Learning Scientist,Senior,FT,JP,S,0,248257.0,Machine Learning
2,2020,Big Data Engineer,Senior,FT,GB,M,50,104100.0,Data Engineering
3,2020,Product Data Analyst,Mid,FT,HN,S,0,19097.0,Data Analytics
4,2020,Machine Learning Engineer,Senior,FT,US,L,50,143225.0,Machine Learning
5,2020,Data Analyst,Entry,FT,US,L,100,68748.0,Data Analytics
6,2020,Lead Data Scientist,Senior,FT,US,S,100,181418.0,Data Science
7,2020,Data Scientist,Mid,FT,HU,L,50,34121.0,Data Science
8,2020,Business Data Analyst,Mid,FT,US,L,100,128903.0,Data Analytics
9,2020,Lead Data Engineer,Senior,FT,NZ,S,50,119354.0,Data Engineering

In [9]:
print(salaries['Job_Category'].value_counts(normalize=True))

Data Engineering    0.286656
Data Science        0.263591
Data Analytics      0.220758
Machine Learning    0.118616
Other               0.059308
Managerial          0.046129
XD                  0.004942
Name: Job_Category, dtype: float64

* Perform cross-tabulation, setting `"Company_Size"` as the index, and the columns to classes in `"Experience"`.

In [10]:
# Cross-tabulate Company_Size and Experience
print(pd.crosstab(salaries["Company_Size"], salaries["Experience"]))

Experience    Entry  Executive  Mid  Senior
Company_Size
L                29         11   86      72
M                30         12   98     186
S                29          3   29      22

* Cross-tabulate `"Job_Category"` and classes of `"Company_Size"` as column names.

In [11]:
# Cross-tabulate Job_Category and Company_Size
print(pd.crosstab(salaries["Job_Category"], salaries["Company_Size"]))

Company_Size       L    M   S
Job_Category
Data Analytics    31   91  12
Data Engineering  54  106  14
Data Science      56   81  23
Machine Learning  25   25  22
Managerial        14   11   3
Other             16   11   9
XD                 2    1   0

* Update `pd.crosstab()` to return the mean `"Salary_USD"` values.

In [14]:
# Cross-tabulate Job_Category and Company_Size
print(pd.crosstab(salaries["Job_Category"], salaries["Company_Size"],
            values=salaries["Salary_USD"], aggfunc="mean").round(3))

Company_Size               L           M          S
Job_Category
Data Analytics    103588.968   98125.835  43074.500
Data Engineering  113829.889  116871.509  85645.286
Data Science      107865.304  121664.889  70426.870
Machine Learning  123878.520  100849.480  85124.955
Managerial        170102.857  160419.455  98976.333
Other              89038.250   76010.818  71895.556
XD                121099.000   95200.000        NaN