# Importing DateTime data
You'll now work with the entire divorce dataset! The data describes Mexican marriages dissolved between 2000 and 2015. It contains marriage and divorce dates, education level, birthday, income for each partner, and marriage duration, as well as the number of children the couple had at the time of divorce.

The column names and data types are as follows:
```python
divorce_date          object
dob_man               object
education_man         object
income_man           float64
dob_woman             object
education_woman       object
income_woman         float64
marriage_date         object
marriage_duration    float64
num_kids             float64
```
It looks like there is a lot of date information in this data that is not yet a DateTime data type! Your task is to fix that so that you can explore patterns over time.

pandas has been imported as `pd`.

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

divorces= pd.read_csv(r"D:\Cursos\Data_Science_Python\data_sets\divorce.csv")
divorces.head(3)

,divorce_date,dob_man,education_man,income_man,dob_woman,education_woman,income_woman,marriage_date,marriage_duration,num_kids
0,2006-09-06,1975-12-18,Secondary,2000.0,1983-08-01,Secondary,1800.0,2000-06-26,5.0,1.0
1,2008-01-02,1976-11-17,Professional,6000.0,1977-03-13,Professional,6000.0,2001-09-02,7.0,NaN
2,2011-01-02,1969-04-06,Preparatory,5000.0,1970-02-16,Professional,5000.0,2000-02-02,2.0,2.0

Import `divorce.csv`, saving as a DataFrame, `divorce`; indicate in the import function that the `divorce_date`, `dob_man`, `dob_woman`, and `marriage_date` columns should be imported as DateTime values.

In [3]:
divorce= pd.read_csv(r"D:\Cursos\Data_Science_Python\data_sets\divorce.csv",parse_dates=['dob_man','divorce_date','dob_woman','marriage_date'])
print(divorce.dtypes)

divorce_date          object
dob_man               object
education_man         object
income_man           float64
dob_woman             object
education_woman       object
income_woman         float64
marriage_date         object
marriage_duration    float64
num_kids             float64
dtype: object