# Visualizing multiple variable relationships
Seaborn's `.pairplot()` is excellent for understanding the relationships between several or all variables in a dataset by aggregating pairwise scatter plots in one visual.

Your task is to use a `pairplot` to compare the relationship between `marriage_duration` and `income_woman`. `pandas` has been loaded as pd, `matplotlib.pyplot` has been loaded as `plt`, and Seaborn has been loaded as sns.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

divorce= pd.read_csv(r"D:\Cursos\Data_Science_Python\data_sets\divorce.csv",parse_dates=['dob_man','divorce_date','dob_woman','marriage_date'])
divorce.head(3)

,divorce_date,dob_man,education_man,income_man,dob_woman,education_woman,income_woman,marriage_date,marriage_duration,num_kids
0,2006-09-06,1975-12-18,Secondary,2000.0,1983-08-01,Secondary,1800.0,2000-06-26,5.0,1.0
1,2008-01-02,1976-11-17,Professional,6000.0,1977-03-13,Professional,6000.0,2001-09-02,7.0,NaN
2,2011-01-02,1969-04-06,Preparatory,5000.0,1970-02-16,Professional,5000.0,2000-02-02,2.0,2.0

Create a pairplot to visualize the relationships between `income_woman` and `marriage_duration` in the divorce DataFrame.

In [ ]:
# Create a pairplot for income_woman and marriage_duration
sns.pairplot(data=divorce,vars=['income_woman','marriage_duration'])
plt.show()