# Functions for initial exploration
You are researching unemployment rates worldwide and have been given a new dataset to work with. The data has been saved and loaded for you as a pandas DataFrame called `unemployment`. You've never seen the data before, so your first task is to use a few pandas functions to learn about this new data.

`pandas` has been imported for you as `pd`.

In [ ]:
D:\Cursos\Data_Science_Python\data_sets\clean_unemployment.csv
data_sets\clean_unemployment.csv
D:\Cursos\Data_Science_Python\data_sets\unemployment.p
data_sets\unemployment.p
D:\Cursos\Data_Science_Python\data_sets\USUnemployment.csv
data_sets\USUnemployment.csv

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
unemployment= pd.read_csv(r"D:\Cursos\Data_Science_Python\data_sets\clean_unemployment.csv")
unemployment.head(3)

,country_code,country_name,continent,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AFG,Afghanistan,Asia,11.35,11.05,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
1,AGO,Angola,Africa,9.43,7.36,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
2,ALB,Albania,Europe,14.09,13.48,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82

In [5]:
un= pd.read_pickle(r"D:\Cursos\Data_Science_Python\data_sets\unemployment.p")
un.head(3)

         date  unemployment_rate
0  2013-06-01                7.5
1  2014-01-01                6.7
2  2014-06-01                6.1

In [6]:
uk= pd.read_csv(r"D:\Cursos\Data_Science_Python\data_sets\USUnemployment.csv")
uk.head(3)

   Year  Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
0  1948  3.4  3.8  4.0  3.9  3.5  3.6  3.6  3.9  3.8  3.7  3.8  4.0
1  1949  4.3  4.7  5.0  5.3  6.1  6.2  6.7  6.8  6.6  7.9  6.4  6.6
2  1950  6.5  6.4  6.3  5.8  5.5  5.4  5.0  4.5  4.4  4.2  4.2  4.3

* Use a pandas function to print the first five rows of the `unemployment` DataFrame.

In [7]:
print(unemployment.head())

  country_code          country_name      continent   2010   2011   2012  \
0          AFG           Afghanistan           Asia  11.35  11.05  11.34
1          AGO                Angola         Africa   9.43   7.36   7.35
2          ALB               Albania         Europe  14.09  13.48  13.38
3          ARE  United Arab Emirates           Asia   2.48   2.30   2.18
4          ARG             Argentina  South America   7.71   7.18   7.22

    2013   2014   2015   2016   2017   2018   2019   2020   2021
0  11.19  11.14  11.13  11.16  11.18  11.15  11.22  11.71  13.28
1   7.37   7.37   7.39   7.41   7.41   7.42   7.42   8.33   8.53
2  15.87  18.05  17.19  15.42  13.62  12.30  11.47  13.33  11.82
3   2.04   1.91   1.77   1.64   2.46   2.35   2.23   3.19   3.36
4   7.10   7.27   7.52   8.11   8.35   9.22   9.84  11.46  10.90

* Use a pandas function to print a summary of column non-missing values and data types from the `unemployment` DataFrame.

In [9]:
# Print a summary of non-missing values and data types in the unemployment DataFrame
print(unemployment.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_code  182 non-null    object
 1   country_name  182 non-null    object
 2   continent     177 non-null    object
 3   2010          182 non-null    float64
 4   2011          182 non-null    float64
 5   2012          182 non-null    float64
 6   2013          182 non-null    float64
 7   2014          182 non-null    float64
 8   2015          182 non-null    float64
 9   2016          182 non-null    float64
 10  2017          182 non-null    float64
 11  2018          182 non-null    float64
 12  2019          182 non-null    float64
 13  2020          182 non-null    float64
 14  2021          182 non-null    float64
dtypes: float64(12), object(3)
memory usage: 21.5+ KB
None

* Print the summary statistics (count, mean, standard deviation, min, max, and quartile values) of each numerical column in `unemployment`.

In [10]:
# Print summary statistics for numerical columns in unemployment
print(unemployment.describe())

             2010        2011        2012        2013        2014        2015  \
count  182.000000  182.000000  182.000000  182.000000  182.000000  182.000000
mean     8.409286    8.315440    8.317967    8.344780    8.179670    8.058901
std      6.248887    6.266795    6.367270    6.416041    6.284241    6.161170
min      0.450000    0.320000    0.480000    0.250000    0.200000    0.170000
25%      4.015000    3.775000    3.742500    3.692500    3.625000    3.662500
50%      6.965000    6.805000    6.690000    6.395000    6.450000    6.170000
75%     10.957500   11.045000   11.285000   11.310000   10.695000   10.215000
max     32.020000   31.380000   31.020000   29.000000   28.030000   27.690000

             2016        2017        2018        2019        2020        2021
count  182.000000  182.000000  182.000000  182.000000  182.000000  182.000000
mean     7.925879    7.668626    7.426429    7.243736    8.420934    8.390879
std      6.045439    5.902152    5.818915    5.696573    6.040915    6.067192
min      0.150000    0.140000    0.110000    0.100000    0.210000    0.260000
25%      3.800000    3.690000    3.625000    3.487500    4.285000    4.335000
50%      5.925000    5.650000    5.375000    5.240000    6.695000    6.425000
75%     10.245000   10.315000    9.257500    9.445000   11.155000   10.840000
max     26.540000   27.040000   26.910000   28.470000   29.220000   33.560000