# Functions for initial exploration
You are researching unemployment rates worldwide and have been given a new dataset to work with. The data has been saved and loaded for you as a pandas DataFrame called `unemployment`. You've never seen the data before, so your first task is to use a few pandas functions to learn about this new data.

`pandas` has been imported for you as `pd`.

In [ ]:
D:\Cursos\Data_Science_Python\data_sets\clean_unemployment.csv
data_sets\clean_unemployment.csv
D:\Cursos\Data_Science_Python\data_sets\unemployment.p
data_sets\unemployment.p
D:\Cursos\Data_Science_Python\data_sets\USUnemployment.csv
data_sets\USUnemployment.csv

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
unemployment= pd.read_csv(r"D:\Cursos\Data_Science_Python\data_sets\clean_unemployment.csv")
unemployment.head(3)

,country_code,country_name,continent,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AFG,Afghanistan,Asia,11.35,11.05,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
1,AGO,Angola,Africa,9.43,7.36,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
2,ALB,Albania,Europe,14.09,13.48,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82

In [5]:
un= pd.read_pickle(r"D:\Cursos\Data_Science_Python\data_sets\unemployment.p")
un.head(3)

         date  unemployment_rate
0  2013-06-01                7.5
1  2014-01-01                6.7
2  2014-06-01                6.1

In [6]:
uk= pd.read_csv(r"D:\Cursos\Data_Science_Python\data_sets\USUnemployment.csv")
uk.head(3)

   Year  Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
0  1948  3.4  3.8  4.0  3.9  3.5  3.6  3.6  3.9  3.8  3.7  3.8  4.0
1  1949  4.3  4.7  5.0  5.3  6.1  6.2  6.7  6.8  6.6  7.9  6.4  6.6
2  1950  6.5  6.4  6.3  5.8  5.5  5.4  5.0  4.5  4.4  4.2  4.2  4.3