# Counting categorical values
Recall from the previous exercise that the `unemployment` DataFrame contains 182 rows of country data including `country_code`, `country_name`, `continent`, and unemployment percentages from 2010 through 2021.

You'd now like to explore the categorical data contained in `unemployment` to understand the data that it contains related to each continent.

The `unemployment` DataFrame has been loaded for you along with `pandas` as `pd`.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
unemployment= pd.read_csv(r"D:\Cursos\Data_Science_Python\data_sets\clean_unemployment.csv")
unemployment.head(3)

,country_code,country_name,continent,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AFG,Afghanistan,Asia,11.35,11.05,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
1,AGO,Angola,Africa,9.43,7.36,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
2,ALB,Albania,Europe,14.09,13.48,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82

* Use a `pandas` function to count the values associated with each `continent` in the `unemployment` DataFrame.

In [3]:
# Count the values associated with each continent in unemployment
print(unemployment['continent'].value_counts())

country_code  country_name       continent
AFG           Afghanistan        Asia             1
LBR           Liberia            Africa           1
NAM           Namibia            Africa           1
NER           Niger              Africa           1
NGA           Nigeria            Africa           1
                                                 ..
GNB           Guinea-Bissau      Africa           1
GNQ           Equatorial Guinea  Africa           1
GRC           Greece             Europe           1
GTM           Guatemala          North America    1
ZWE           Zimbabwe           Africa           1
Length: 177, dtype: int64