# Summaries with .groupby() and .agg()
In this exercise, you'll explore the means and standard deviations of the yearly unemployment data. First, you'll find means and standard deviations regardless of the continent to observe worldwide unemployment trends. Then, you'll check unemployment trends broken down by continent.

The `unemployment` DataFrame is available, and `pandas` has been imported as `pd`.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
unemployment= pd.read_csv(r"D:\Cursos\Data_Science_Python\data_sets\clean_unemployment.csv")
unemployment.head(10)

,country_code,country_name,continent,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AFG,Afghanistan,Asia,11.35,11.05,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
1,AGO,Angola,Africa,9.43,7.36,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
2,ALB,Albania,Europe,14.09,13.48,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82
3,ARE,United Arab Emirates,Asia,2.48,2.30,2.18,2.04,1.91,1.77,1.64,2.46,2.35,2.23,3.19,3.36
4,ARG,Argentina,South America,7.71,7.18,7.22,7.10,7.27,7.52,8.11,8.35,9.22,9.84,11.46,10.90
5,ARM,Armenia,Asia,19.01,18.44,17.30,16.18,17.50,18.26,17.62,17.70,18.97,18.30,21.21,20.90
6,AUS,Australia,Oceania,5.21,5.08,5.22,5.66,6.08,6.05,5.71,5.59,5.30,5.16,6.46,5.11
7,AUT,Austria,Europe,4.82,4.56,4.87,5.33,5.62,5.72,6.01,5.50,4.85,4.49,5.36,6.30
8,AZE,Azerbaijan,Asia,5.63,5.42,5.19,4.97,4.91,4.96,5.00,5.00,4.90,4.85,6.46,6.58
9,BDI,Burundi,Africa,1.61,1.60,1.59,1.58,1.57,1.60,1.59,1.59,1.59,1.59,1.71,1.79

* Print the mean and standard deviation of the unemployment rates for each year.

In [2]:
# Print the mean and standard deviation of rates by year
print(unemployment.agg(['mean','std']))

          2010      2011      2012      2013      2014      2015      2016  \
mean  8.409286  8.315440  8.317967  8.344780  8.179670  8.058901  7.925879
std   6.248887  6.266795  6.367270  6.416041  6.284241  6.161170  6.045439

          2017      2018      2019      2020      2021
mean  7.668626  7.426429  7.243736  8.420934  8.390879
std   5.902152  5.818915  5.696573  6.040915  6.067192

C:\Users\Garca\AppData\Local\Temp\ipykernel_9956\3373833377.py:2: FutureWarning: ['country_code', 'country_name', 'continent'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  print(unemployment.agg(['mean','std']))

* Print the mean and standard deviation of the unemployment rates for each year, grouped by continent.

In [3]:
# Print yearly mean and standard deviation grouped by continent
print(unemployment.groupby('continent').agg(['mean','std']))

                    2010                 2011                 2012            \
                    mean       std       mean       std       mean       std
continent
Africa          9.343585  7.411259   9.369245  7.401556   9.240755  7.264542
Asia            6.240638  5.146175   5.942128  4.779575   5.835319  4.756904
Europe         11.008205  6.392063  10.947949  6.539538  11.325641  7.003527
North America   8.663333  5.115805   8.563333  5.377041   8.448889  5.495819
Oceania         3.622500  2.054721   3.647500  2.008466   4.103750  2.723118
South America   6.870833  2.807058   6.518333  2.801577   6.410833  2.936508

                    2013                 2014            ...      2017  \
                    mean       std       mean       std  ...      mean
continent                                                ...
Africa          9.132453  7.309285   9.121321  7.291359  ...  9.284528
Asia            5.852128  4.668405   5.853191  4.681301  ...  6.171277
Europe         11.466667  6.969209  10.971282  6.759765  ...  8.359744
North America   8.840556  6.081829   8.512222  5.801927  ...  7.391111
Oceania         3.980000  2.640119   3.976250  2.659205  ...  3.872500
South America   6.335000  2.808780   6.347500  2.834332  ...  7.281667

                             2018                2019                 2020  \
                    std      mean       std      mean       std       mean
continent
Africa         7.407620  9.237925  7.358425  9.264340  7.455293  10.307736
Asia           5.277201  6.090213  5.409128  5.949149  5.254008   7.012340
Europe         5.177845  7.427436  4.738206  6.764359  4.124734   7.470513
North America  5.326446  7.281111  5.253180  7.095000  4.770490   9.297778
Oceania        2.492834  3.851250  2.455893  3.773750  2.369068   4.273750
South America  3.398994  7.496667  3.408856  7.719167  3.379845  10.275000

                              2021
                    std       mean       std
continent
Africa         7.928166  10.473585  8.131636
Asia           5.699609   6.906170  5.414745
Europe         4.071218   7.414872  3.947825
North America  4.963045   9.155000  5.076482
Oceania        2.617490   4.280000  2.671522
South America  3.411263   9.924167  3.611624

[6 rows x 24 columns]

C:\Users\Garca\AppData\Local\Temp\ipykernel_9956\1964965302.py:2: FutureWarning: ['country_code', 'country_name'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  print(unemployment.groupby('continent').agg(['mean','std']))