# Plot a histogram
The `displot()` function will return a histogram by default. `The displot()` can also create a KDE or rug plot which are useful ways to look at the data. Seaborn can also combine these plots so you can perform more meaningful analysis.

### Instructions
* Create a `displot` for the data.
* Explicitly pass in the number 20 for the number of bins in the histogram.
* Display the plot using `plt.show()`.

In [1]:
# import all modules
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

path='D:/Cursos/Data_Science_Python/data_sets/'
grant_file = path + 'schoolimprovement2010grants.csv'

# Read in the DataFrame
df = pd.read_csv(grant_file)
df.head(3)

,Unnamed: 0,School Name,City,State,District Name,Model Selected,Award_Amount,Region
0,0,HOGARTH KINGEEKUK MEMORIAL SCHOOL,SAVOONGA,AK,BERING STRAIT SCHOOL DISTRICT,Transformation,471014,West
1,1,AKIACHAK SCHOOL,AKIACHAK,AK,YUPIIT SCHOOL DISTRICT,Transformation,520579,West
2,2,GAMBELL SCHOOL,GAMBELL,AK,BERING STRAIT SCHOOL DISTRICT,Transformation,449592,West

In [ ]:
# Create a displot
sns.displot(df['Award_Amount'],
             bins=20)

# Display the plot
plt.show()