# Cleaning variables
Users of an online entry system used to have the ability to freely type in responses to questions. This is causing issues when trying to analyze the adoptable dogs dataset, `dogs`. Here is the current frequency table of the `"sex"` column:

![Alt text](image-1.png)

Now that the system only takes responses of "female" and "male", you want this variable to match the updated system.

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
file='ShelterDogs.csv'
path=r"D:\\Cursos\\Data_Science_Python\\data_sets\\"
pathfile=path+file
try:
 df= pd.read_csv(pathfile)
 print(df.head(5))
except :
  print('file doesnt exist')

dogs = df[:]

      ID            name   age     sex               breed date_found  \
0  23807            Gida  0.25  female         Unknown Mix   12/10/19
1    533  Frida Ã‰s Ricsi  0.17  female         Unknown Mix    12/1/19
2  23793             NaN  4.00    male         Unknown Mix    12/8/19
3  23795             NaN  1.00    male         Unknown Mix    12/8/19
4  23806             Amy  2.00  female  French Bulldog Mix   12/10/19

  adoptable_from    posted            color    coat    size neutered  \
0       12/11/19  12/11/19              red   short   small       no
1        12/1/19   12/9/19  black and white   short   small       no
2       12/23/19   12/8/19      saddle back   short  medium       no
3       12/23/19   12/8/19     yellow-brown  medium  medium       no
4       12/11/19  12/11/19            black   short   small       no

  housebroken likes_people likes_children get_along_males get_along_females  \
0         NaN          NaN            NaN             NaN               NaN
1         NaN          yes            yes             yes               yes
2         NaN          NaN            NaN             NaN               NaN
3         NaN          NaN            NaN             NaN               NaN
4         NaN          NaN            NaN             NaN               NaN

  get_along_cats keep_in
0            NaN     NaN
1            yes     NaN
2            NaN     NaN
3            NaN     NaN
4            NaN     NaN

* Update the misspelled response "Malez" to be "male" by creating the replacement map, replace_map.

In [ ]:
replace_map = {"Malez":'male'}

* Replace all occurrences of "Malez" with "male" by using replace_map.

In [4]:
# Fix the misspelled word 
replace_map = {"Malez": "male"}

# Update the sex column using the created map
dogs["sex"].replace(replace_map,inplace=True)

print(dogs["sex"].value_counts())

Series([], Name: sex, dtype: int64)

* Remove the leading spaces of the " MALE" and " FEMALE" responses.

In [5]:
# Strip away leading whitespace
dogs["sex"] = dogs["sex"].str.strip()

print(dogs["sex"].value_counts())

Series([], Name: sex, dtype: int64)

Convert all responses to be strictly lowercase.

In [6]:
# Make all responses lowercase
dogs["sex"] = dogs["sex"].str.lower()

print(dogs["sex"].value_counts())

Series([], Name: sex, dtype: int64)

Convert the "sex" column to a categorical pandas Series.

In [8]:
dogs["sex"] = dogs["sex"].astype('category')

print(dogs["sex"].value_counts())

Series([], Name: sex, dtype: int64)