# Overcoming pitfalls: string issues
Being able to effectively use categorical `pandas` Series is an important skill to have in your toolbelt. Unfortunately, there are several common problems that you may run into when using these Series.

In this exercise, you will work through code from a previous exercise on updating a categorical Series. Follow the instructions to make sure everything goes smoothly. The used cars dataset, `used_cars`, is loaded for you.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
def import_csv(file):
    path=r"D:\\Cursos\\Data_Science_Python\\data_sets\\"
    pathfile=path+file
    try:
       df= pd.read_csv(pathfile)
       print(df.head(5))
    except :
        print('file doesnt exist')
    return df
    
file='used_cars.csv'
used_cars = import_csv(file)

  manufacturer_name model_name transmission   color  odometer_value  \
0            Subaru    Outback    automatic  silver          190000
1            Subaru    Outback    automatic    blue          290000
2            Subaru   Forester    automatic     red          402000
3            Subaru    Impreza   mechanical    blue           10000
4            Subaru     Legacy    automatic   black          280000

   year_produced engine_fuel  engine_has_gas engine_type  engine_capacity  \
0           2010    gasoline           False    gasoline              2.5
1           2002    gasoline           False    gasoline              3.0
2           2001    gasoline           False    gasoline              2.5
3           1999    gasoline           False    gasoline              3.0
4           2001    gasoline           False    gasoline              2.5

   ... feature_1  feature_2 feature_3 feature_4  feature_5  feature_6  \
0  ...      True       True      True     False       True      False
1  ...      True      False     False      True       True      False
2  ...      True      False     False     False      False      False
3  ...     False      False     False     False      False      False
4  ...      True      False      True      True      False      False

  feature_7  feature_8  feature_9  duration_listed
0      True       True       True               16
1     False      False       True               83
2     False       True       True              151
3     False      False      False               86
4     False      False       True                7

[5 rows x 30 columns]

* Print the frequency table of the `"body_type"` column for `used_cars` and include `NaN` values.

In [4]:
# Print the frequency table of body_type and include NaN values
print(used_cars['body_type'].value_counts(dropna=False))

sedan        13011
hatchback     7644
universal     5507
suv           5164
minivan       3608
minibus       1369
van            808
coupe          652
liftback       552
pickup         129
cabriolet       75
limousine       12
Name: body_type, dtype: int64

Update the `.loc` statement so that all `NaN` values in `"body_type`" are set to `"other"`.

In [5]:
# Print the frequency table of body_type and include NaN values
print(used_cars["body_type"].value_counts(dropna=False))

# Update NaN values
used_cars.loc[used_cars['body_type'].isna(), 'body_type'] = 'other'

sedan        13011
hatchback     7644
universal     5507
suv           5164
minivan       3608
minibus       1369
van            808
coupe          652
liftback       552
pickup         129
cabriolet       75
limousine       12
Name: body_type, dtype: int64

Convert the `"body_type"` column to title case.

In [6]:
# Convert body_type to title case
used_cars["body_type"] = used_cars["body_type"].str.title()

Check the dtype of the `"body_type"` column.

In [7]:
print(used_cars["body_type"].dtype)

object