# Creating a Boolean encoding
In preparation for running machine learning models to estimate the sale price of used cars, you are starting to analyze the available columns of the `used_cars` dataset and want to create columns that can be used in training. One of the managers of a used car dealership has said that the manufacturer of the car is the most important aspect he considers when setting prices. You will begin by exploring the manufacturer_name column.

In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
def import_csv(file):
    path=r"D:\\Cursos\\Data_Science_Python\\data_sets\\"
    pathfile=path+file
    try:
       df= pd.read_csv(pathfile,sep=';')
       print(df.head(5))
    except :
        print('file doesnt exist')
    return df
    
file='used_cars.csv'
used_cars = import_csv(file)

  manufacturer_name model_name transmission   color  odometer_value  \
0            Subaru    Outback    automatic  silver          190000
1            Subaru    Outback    automatic    blue          290000
2            Subaru   Forester    automatic     red          402000
3            Subaru    Impreza   mechanical    blue           10000
4            Subaru     Legacy    automatic   black          280000

   year_produced engine_fuel  engine_has_gas engine_type  engine_capacity  \
0           2010    gasoline           False    gasoline              2.5
1           2002    gasoline           False    gasoline              3.0
2           2001    gasoline           False    gasoline              2.5
3           1999    gasoline           False    gasoline              3.0
4           2001    gasoline           False    gasoline              2.5

   ... feature_2  feature_3 feature_4 feature_5  feature_6  feature_7  \
0  ...      True       True     False      True      False       True
1  ...     False      False      True      True      False      False
2  ...     False      False     False     False      False      False
3  ...     False      False     False     False      False      False
4  ...     False       True      True     False      False      False

  feature_8  feature_9  duration_listed  Sale Rating
0      True       True               16            5
1     False       True               83            1
2      True       True              151            4
3     False      False               86            4
4     False       True                7            1

[5 rows x 31 columns]

Print the frequency table of the "manufacturer_name" column.

In [7]:
# Print the manufacturer name frequency table
print(used_cars["manufacturer_name"].value_counts(dropna=False))

Volkswagen       4243
Opel             2759
BMW              2610
Ford             2566
Renault          2493
Audi             2468
Mercedes-Benz    2237
Peugeot          1909
Citroen          1562
Nissan           1361
Mazda            1328
Toyota           1246
Hyundai          1116
Skoda            1089
Kia               912
Mitsubishi        887
Fiat              824
Honda             797
Volvo             721
ВАЗ               481
Chevrolet         436
Chrysler          410
Seat              303
Dodge             297
Subaru            291
Rover             235
Suzuki            234
Daewoo            221
Lexus             213
Alfa Romeo        207
ГАЗ               200
Land Rover        184
Infiniti          162
LADA              146
Iveco             139
Saab              108
Jeep              107
Lancia             92
SsangYong          79
УАЗ                74
Geely              71
Mini               68
Acura              66
Porsche            61
Dacia              59
Chery              58
Москвич            55
Jaguar             53
Buick              47
Lifan              47
Cadillac           43
Pontiac            42
ЗАЗ                42
Lincoln            36
Great Wall         36
Name: manufacturer_name, dtype: int64

* Create a column, `"is_volkswagen"`, that is `True` when `"manufacturer_name"` contains "Volkswagen" and `False` otherwise.

In [9]:
# Create a Boolean column based on if the manufacturer name that contain Volkswagen
used_cars["is_volkswagen"] = np.where(
  used_cars["manufacturer_name"].str.contains('Volkswagen', regex=False), True, False)

Update the code so that a 1 is used instead of True and a 0 is used instead of False so Python can use this column in algorithms.

In [10]:
# Print the manufacturer name frequency table
print(used_cars["manufacturer_name"].value_counts())

# Create a Boolean column based on if the manufacturer name that contain Volkswagen: using 0s an 1s
used_cars["is_volkswagen"] = np.where(
  used_cars["manufacturer_name"].str.contains("Volkswagen", regex=False), 1, 0
)

Volkswagen       4243
Opel             2759
BMW              2610
Ford             2566
Renault          2493
Audi             2468
Mercedes-Benz    2237
Peugeot          1909
Citroen          1562
Nissan           1361
Mazda            1328
Toyota           1246
Hyundai          1116
Skoda            1089
Kia               912
Mitsubishi        887
Fiat              824
Honda             797
Volvo             721
ВАЗ               481
Chevrolet         436
Chrysler          410
Seat              303
Dodge             297
Subaru            291
Rover             235
Suzuki            234
Daewoo            221
Lexus             213
Alfa Romeo        207
ГАЗ               200
Land Rover        184
Infiniti          162
LADA              146
Iveco             139
Saab              108
Jeep              107
Lancia             92
SsangYong          79
УАЗ                74
Geely              71
Mini               68
Acura              66
Porsche            61
Dacia              59
Chery              58
Москвич            55
Jaguar             53
Buick              47
Lifan              47
Cadillac           43
Pontiac            42
ЗАЗ                42
Lincoln            36
Great Wall         36
Name: manufacturer_name, dtype: int64

Print out a frequency table for the newly created column.

In [ ]:
# Check the final frequency table
print(used_cars["is_volkswagen"].value_counts(dropna=False))