# Right join to find unique movies
Most of the recent big-budget science fiction movies can also be classified as action movies. You are given a table of science fiction movies called *scifi_movies* and another table of action movies called *action_movies*. Your goal is to find which movies are considered only science fiction movies. Once you have this table, you can merge the *movies* table in to see the movie names. Since this exercise is related to science fiction movies, use a right join as your superhero power to solve this problem.

The movies, *scifi_movies*, and *action_movies* tables have been loaded for you.

In [4]:
import pandas as pd

path=r'/media/documentos/Cursos/Data Science/Python/Data_Science_Python/data_sets/'

movies=pd.read_pickle(path+'movies.p')
#toy_story=movies[movies['title'].str.contains('Toy Story', na=False)]
print('movies \n',movies.head(),'\n')

movie_to_genres=pd.read_pickle(path+'movie_to_genres.p')
#land_use.astype({'ward': 'int32'}).dtypes
print('movie_to_genres \n',movie_to_genres.head(),'\n')
print('genres \n',movie_to_genres['genre'].unique(),'\n')

scifi_movies =movie_to_genres[movie_to_genres['genre']=='Science Fiction']
print('scifi_movies \n',scifi_movies.head(),'\n')
action_movies =movie_to_genres[movie_to_genres['genre']=='Action']
print('action_movies \n',action_movies.head(),'\n')

movies
       id                 title  popularity release_date
0    257          Oliver Twist   20.415572   2005-09-23
1  14290  Better Luck Tomorrow    3.877036   2002-01-12
2  38365             Grown Ups   38.864027   2010-06-24
3   9672              Infamous    3.680896   2006-11-16
4  12819       Alpha and Omega   12.300789   2010-09-17

movie_to_genres
    movie_id            genre
0         5            Crime
1         5           Comedy
2        11  Science Fiction
3        11           Action
4        11        Adventure

genres
 ['Crime' 'Comedy' 'Science Fiction' 'Action' 'Adventure' 'Family'
 'Animation' 'Romance' 'Drama' 'Music' 'Thriller' 'Fantasy' 'War'
 'Western' 'Mystery' 'History' 'Horror' 'Documentary' 'Foreign' 'TV Movie']

scifi_movies
     movie_id            genre
2         11  Science Fiction
17        18  Science Fiction
20        19  Science Fiction
38        38  Science Fiction
49        62  Science Fiction

action_movies
     movie_id   genre
3         11  Action
14        18  Action
25        22  Action
26        24  Action
42        58  Action

1. Merge *action_movies* and *scifi_movies* tables with a right join on *movie_id*. Save the result as action_scifi

In [5]:
# Merge action_movies to scifi_movies with right join
action_scifi = action_movies.merge(scifi_movies, on='movie_id',how='right')
print(action_scifi.head())

   movie_id genre_x          genre_y
0        11  Action  Science Fiction
1        18  Action  Science Fiction
2        19     NaN  Science Fiction
3        38     NaN  Science Fiction
4        62     NaN  Science Fiction

2. Update the merge to add suffixes, where '_act' and '_sci' are suffixes for the left and right tables, respectively.

In [6]:
# Merge action_movies to scifi_movies with right join
action_scifi = action_movies.merge(scifi_movies, on='movie_id', how='right',
                                   suffixes=('_act','_sci'))

# Print the first few rows of action_scifi to see the structure
print(action_scifi.head())

   movie_id genre_act        genre_sci
0        11    Action  Science Fiction
1        18    Action  Science Fiction
2        19       NaN  Science Fiction
3        38       NaN  Science Fiction
4        62       NaN  Science Fiction

3. From *action_scifi*, subset only the rows where the *genre_act* column is null.

In [8]:
# Merge action_movies to the scifi_movies with right join
action_scifi = action_movies.merge(scifi_movies, on='movie_id', how='right',
                                   suffixes=('_act','_sci'))

# From action_scifi, select only the rows where the genre_act column is null
scifi_only = action_scifi[action_scifi['genre_act'].isnull()]
print(scifi_only.head())

   movie_id genre_act        genre_sci
2        19       NaN  Science Fiction
3        38       NaN  Science Fiction
4        62       NaN  Science Fiction
5        68       NaN  Science Fiction
6        74       NaN  Science Fiction

4. Merge *movies* and *scifi_only* using the *id* column in the left table and the *movie_id* column in the right table with an inner join.

In [9]:
# Merge action_movies to the scifi_movies with right join
action_scifi = action_movies.merge(scifi_movies, on='movie_id', how='right',
                                   suffixes=('_act','_sci'))

# From action_scifi, select only the rows where the genre_act column is null
scifi_only = action_scifi[action_scifi['genre_act'].isnull()]

# Merge the movies and scifi_only tables with an inner join
movies_and_scifi_only = movies.merge(scifi_only,left_on='id',right_on='movie_id')

# Print the first few rows and shape of movies_and_scifi_only
print(movies_and_scifi_only.head())
print(movies_and_scifi_only.shape)

      id                         title  popularity release_date  movie_id  \
0  18841  The Lost Skeleton of Cadavra    1.680525   2001-09-12     18841
1  26672     The Thief and the Cobbler    2.439184   1993-09-23     26672
2  15301      Twilight Zone: The Movie   12.902975   1983-06-24     15301
3   8452                   The 6th Day   18.447479   2000-11-17      8452
4   1649    Bill & Ted's Bogus Journey   11.349664   1991-07-19      1649

  genre_act        genre_sci
0       NaN  Science Fiction
1       NaN  Science Fiction
2       NaN  Science Fiction
3       NaN  Science Fiction
4       NaN  Science Fiction
(258, 7)